{% for article in articles %}
<section class="py-3 px-2">
    <div class="row">
        <h5 class="col-auto mr-auto mb-0"><a href="/{{ article.url }}">{{ article.title }}</a></h5>
        <div class="col-auto"><time>{{ article.locale_date }}</time></div>
    </div>
    {% if article.description %}
    <div class="text-truncate">
        {{ article.description }}
    </div>
    {% endif %}
    {% if article.subcategories %}
    <div class="text-right">
        ({% for subcategory in article.subcategories %}
        <a href="/{{ subcategory.url }}">{{ subcategory.shortname }}</a>
            {% if not loop.last %}
                &nbsp;/&nbsp;
            {% endif %}
        {% endfor %})
    </div>
    {% endif %}
</section>
{% endfor %}