<div class="card">
    <div class="card-header bg-info text-white h5">
        News !
    </div>
    <div class="card-body small">
        <p>Hello tout le monde !</p>

        <p>J’ai décidé d’offrir une nouvelle expérience pour le tuto Arduino. Je vais donc me lancer en live, sur Twitch, pour reformuler ce dernier avec un rythme et un découpage un peu différent. Le but est d’explorer ce format pour voir ce qu’il peut apporter, surtout en terme d’interaction.</p>

        <p>Les lives auront lieu dans un premier temps par créneau d’une heure :
            <ul>
                <li>le lundi à 8h30 ;</li>
                <li>le mercredi à 15h ;</li>
                <li>le vendredi à 12h30.</li>
            </ul>
        </p>
        <p>
        Ces 3 diffusions seront à chaque fois les mêmes en terme de sujet abordé, pour accommoder le plus de monde possible. Première session le lundi 16 septembre. On y fera les présentations des outils, d’Arduino et de la base de la base de l’électronique (alimentation, boutons, leds).
        </p><p>
        Aucune connaissance préliminaire n’est requise à part de la curiosité, du bon sens et de la bonne volonté. Pas besoin de matériel non plus, on fera tout sur simulateur en ligne pour que vous puissiez tout reproduire à la maison sans frais ! Bien entendu si vous voulez faire les mêmes montages en vrai rien ne vous en empêche si vous avez le matériel ^^ .
        </p><p>
        Du coup je vous invite à suivre ma chaîne Twitch qui va bien : <a href="https://twitch.tv/eskimon/">https://twitch.tv/eskimon/</a> pour être prévenu quand on commence.
        </p><p>
        J’espère que l’initiative vous plaira et que l’interactivité sera au rendez-vous !
        </p><p>
        En attendant, si vous avez un compte Twitter et l’envie de m’aider à avoir un public pour cette initiative, je vous invite à retweeter ce tweet de présentation et/ou à parler autour de vous de tout cela :) : <a href="https://twitter.com/Eskimon_fr/status/1169158978129092618">https://twitter.com/Eskimon_fr/status/1169158978129092618</a> .
        </p><p>
        A très bientôt !
        </p>
    </div>
</div>
