<footer class="container-fluid bg-dark small text-white px-3">
<div class="row">
    <div class="col align-self-center">
        © Eskimon -
        Blog propulsé par <a class="bold text-white" href="https://blog.getpelican.com/" rel="nofollow">Pelican</a> -
        Thème fait maison
    </div>
    <div class="col align-self-end text-right">
        <a class="btn btn-lg text-light" href="https://github.com/Eskimon" rel="nofollow" title="Mon profil Github">
            <i class="fab fa-github fa-lg"></i>
        </a>
        <a class="btn btn-lg text-light" href="https://twitter.com/Eskimon_fr" rel="nofollow" title="Me suivre sur Twitter">
            <i class="fab fa-twitter fa-lg"></i>
        </a>
        <a class="btn btn-lg text-light" href="https://twitch.tv/eskimon" rel="nofollow" title="Me suivre sur Twitch">
            <i class="fab fa-twitch fa-lg"></i>
        </a>
        <a class="btn btn-lg text-light" href="https://www.youtube.com/user/Eskimon49/featured" rel="nofollow" title="Les VOD sur Youtube">
            <i class="fab fa-youtube fa-lg"></i>
        </a>
        <a class="btn btn-lg text-light" href="https://discord.gg/9SkDWft" rel="nofollow" title="Venez participer sur Discord">
            <i class="fab fa-discord fa-lg"></i>
        </a>
    </div>
  </div>
</footer>
