<nav class="navbar navbar-expand-lg navbar-light bg-secondary-l40 py-0">
    <a class="navbar-brand" href="/">
        <img src="/{{ THEME_STATIC_DIR }}/images/logo.png" width="20" height="20" alt="">
        {{ SITENAME }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div></div>
        <div>
            <a class="btn btn-lg text-secondary" href="https://github.com/Eskimon" rel="nofollow" title="Mon profil Github">
                <i class="fab fa-github fa-lg"></i>
            </a>
            <a class="btn btn-lg text-secondary" href="https://twitter.com/Eskimon_fr" rel="nofollow" title="Me suivre sur Twitter">
                <i class="fab fa-twitter fa-lg"></i>
            </a>
            <a class="btn btn-lg text-secondary" href="https://twitch.tv/eskimon" rel="nofollow" title="Me suivre sur Twitch">
                <i class="fab fa-twitch fa-lg"></i>
            </a>
            <a class="btn btn-lg text-secondary" href="https://www.youtube.com/user/Eskimon49/featured" rel="nofollow" title="Les VOD sur Youtube">
                <i class="fab fa-youtube fa-lg"></i>
            </a>
            <a class="btn btn-lg text-secondary" href="https://discord.gg/9SkDWft" rel="nofollow" title="Venez participer sur Discord">
                <i class="fab fa-discord fa-lg"></i>
            </a>
        </div>
        <div class="navbar-nav">
            {% for cat, articles in categories %}
                <a class="nav-item nav-link {% if cat == category %}active{% endif %}" href="/{{ cat.url }}">{{ cat }}</a>
            {% endfor %}
        </div>
    </div>
</nav>
