{% extends "base.html" %}

{% macro Search_scat(parent, site_url, articles, depth) %}
    {% set children = [] %}
    {% set articles_ = [] %}
    {% for article in articles %}

        {% for subcategory in article.subcategories %}
            {% if subcategory.parent.name == parent.name and subcategory not in children %}
                {% set _ = children.append(subcategory) %}
            {% endif %}
        {% else %}
            {% if article.category == parent.name %}
                <section class="py-2 flex-between">
                <a href="/{{ article.url }}">{{ article.title }}</a>
                <div class="text-right">
                {% for tag in article.tags %}
                    <a href="{{ tag.url }}" class="badge badge-pill badge-info badge-index">{{ tag }}</a>
                {% endfor %}
                </div>
                </section>
            {% endif %}
        {% endfor %}
        {% if children|length == 0 %}
            {% if article.subcategories|length != 0 %}
                {% for subcategory in article.subcategories %}
                    {% if subcategory.name in parent.name %}
                        {% set _ = articles_.append(article) %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if children|length > 0 %}
        <section class="py-2">
        <ul class="es-li-deco-inside px-0">
            {% for subcategory in children|sort %}
                <li><a href="/{{ subcategory.url }}">{{ subcategory.shortname }}</a>
                    {{ Search_scat(subcategory, site_url, articles, depth+1) }}
                </li>
            {% endfor %}
        </ul>
        </section>
    {% else %}
        {% if depth > 1 and articles_ %}
            <ul class="px-4">
            {% for article in articles_ %}
                <li><a href="/{{ article.url }}">{{ article.title }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endmacro %}



{% block content %}
<!--
<div class="row my-3 edito">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6 ml-auto mr-auto">
        {% include 'parts/edito.part.html' %}
    </div>
</div>
-->
<!--
<div class="row mt-3" role="alert">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6 ml-auto mr-auto alert alert-primary text-center" style="margin-bottom: 0;">
        <a class="btn btn-lg text-secondary" href="https://twitch.tv/eskimon" rel="nofollow" title="Me suivre sur Twitch"><i class="fab fa-twitch fa-lg"></i></a>
        Rejoignez moi en <a href="https://twitch.tv/eskimon"> live sur Twitch </a> pour apprendre le tuto Arduino autrement ! (<a href="https://twitter.com/Eskimon_fr/status/1169158978129092618">plus d'infos</a> / <a href="/stream-planning.html">planning</a>)
        <a class="btn btn-lg text-secondary" href="https://twitch.tv/eskimon" rel="nofollow" title="Me suivre sur Twitch"><i class="fab fa-twitch fa-lg"></i></a>
    </div>
</div>
-->
<div class="row mt-3">
    <div class="col ml-auto mr-auto text-center">
        <iframe
            src="https://player.twitch.tv/?channel=eskimon&muted=true&autoplay=true&parent=eskimon.fr"
            height="450"
            width="720"
            frameborder="0"
            scrolling="false"
            allowfullscreen="true">
        </iframe>
    </div>
</div>

<div class="row my-3">
    {% for cat, articles in categories|sort %}
    <div class="col-md-12 col-lg-6 col-xl-4">
        <div class="card mb-3">
            <div class="card-header bg-info text-white h5">
                {{ cat }}
            </div>
            <div class="card-body es-items-list">
                {{ Search_scat(cat, SITEURL, articles, 1) }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row my-3">
    <div class="col">
        <div class="card mb-3">
            <div class="card-header bg-info text-white h5">
                Les lives tuto Arduino
            </div>
            <div class="card-body es-items-list">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/coASg9W8ufc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/WZ7XEhQTxZ0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/hriSLWYOMyM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/rtyJRDm-zho" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/sIrWiTmY_Uw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/FsrkPO2BTzI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/svZ8NLBYBew" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/W3lwxJUg50k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Unbw8QDVj5k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/qh_pZTauMaI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/KcYbjyzdxJM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/SJiHGnUuf7c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_Gi2X_UjCsk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/t6N7s83MdWI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/pJGBaoYNfdM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/kO6VNwWwSkw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <!-- extra vidéo -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/GhRX8wpGN-I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}
